<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudfare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<title>Lista de cursos</title>
</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<div class="display-3">
				<strong>Carrinho</strong>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="table-responsive">
			<table
				class="table table-sm table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Curso</th>
						<th>Descrição</th>
						<th>Preço</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="curso : ${cursos}">
						<td th:text="${curso.id}"></td>
						<td th:text="${curso.nome}"></td>
						<td th:text="${curso.descricao}"></td>
						<td th:text="${curso.preco}"></td>
						<td>
							<div class="btn-group pull-right">
								<a class="btn btn-sm btn-primary"
									th:href="@{/carrinho/comprar/{id}(id=${curso.id})}">Comprar</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel-footer" sec:authorize="hasRole('ROLE_USER')">
		<a class="btn btn-sm btn-success" th:href="@{/curso/formInserirCurso}">Adicionar
			Curso</a>
	</div>
	<br>
	<br>
	<br>
	<div class="panel-footer">
		<a class="btn btn-sm btn-success" sec:authorize="isAuthenticated()" 
			th:href="@{/categoria/formInserirCategoria}">ESTOU AUTENTICADO</a>
	</div>
	
	<div class="panel-footer">
		<a class="btn btn-sm btn-success" sec:authorize="isAnonymous()" 
			th:href="@{/categoria/formInserirCategoria}">NÃO ESTOU AUTENTICADO</a>
	</div>
</body>
</html>